
#Cypress File
cypress/results/*
cypress/reports/*
cypress/screenshots/*
cypress/videos/*
cypress/report
results
.idea
allure-results
allure-report
.eslintcache
# Node Dependency directories
node_modules/